{
  "root": true,
  "env": {
    "browser": true,
    "es2020": true
  },
  "parser": "@babel/eslint-parser",
  "plugins": ["react"],
  "extends": [
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "camelcase": ["error", { "properties": "always" }],
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
    "no-console": "error",
    "no-empty-function": "off",
    "no-implicit-coercion": ["error", { "allow": ["!!"] }],
    "no-return-await": "error",
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true,
        "allowTernary": true,
        "allowTaggedTemplates": true
      }
    ],
    "no-unused-vars": [
      "error",
      { "ignoreRestSiblings": true, "argsIgnorePattern": "^_+$" }
    ],
    "no-use-before-define": ["error", { "functions": false }],
    "no-void": ["error", { "allowAsStatement": true }],
    "object-shorthand": ["error", "properties"],
    "require-atomic-updates": "off",
    "curly": ["error", "all"],
    "react/display-name": "error",
    "react/jsx-no-useless-fragment": ["error", { "allowExpressions": true }],
    "react/prop-types": 0,
    "react/self-closing-comp": [
      "error",
      {
        "component": true,
        "html": true
      }
    ]
  }
}
